    <header class = "header">
      <form class="search-form form__group field" id="search-form">
        <input
          id='search'
          type="text"
          class="form__field"
          name="query"
          autocomplete="off"
          placeholder="Search images..."
        />
        <label for="name" class="form__label">Search images...</label>
      </form>
      <div class="toolbar">
        <!-- Разметка переключателя темы -->
        <div class="theme-switch">
          <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
            <use href="./images/sprite.svg#sun"></use>
          </svg>

          <div class="theme-switch__control">
            <input
              class="theme-switch__toggle"
              type="checkbox"
              name="theme"
              id="theme-switch-toggle"
              aria-label="Переключить между тёмной и светлой темой"
            />
            <label
              aria-hidden="true"
              class="theme-switch__track"
              for="theme-switch-toggle"
            >
            </label>
            <div aria-hidden="true" class="theme-switch__marker"></div>
          </div>

          <svg class="theme-switch__icon" aria-label="Иконка луны">
            <use href="./images/sprite.svg#moon"></use>
          </svg>
        </div>
      </div>
    </header>
    <div class="wrapper-gallery">
        <ul class="gallery">
          <!-- Список <li> с карточками изображений -->
        </ul>
    </div>


